html {
    height: 100%;
    width: 100%;
    font-family: 'Nanum Myeongjo', serif;

  }
  body{
    margin:0;
    padding:0;
  }
  nav ul {
    display: flex;
    margin:0;
    padding:0;
  }
  nav ul li {
    list-style: none;
    padding:15px;
  }
  nav a {
    text-decoration: none;
    color: navy;
    font-weight: bold;
  
  }
  
  .header {
    background-color: ivory;
  }
  
  main {
    margin: 32px 32px 32px 32px;
  }
  
  h1 { 
    color : lightpink;
    font-size: 48px;
    margin: 20px 0 20px;
  }
  
  header a:hover {
    
    letter-spacing:4px;
    transition: 0.3s ease-in;
  }
  

 
  .prof {
  
    width: 320px;
    height: 320px;
    overflow:hidden;
  }
  
  .prof img:hover {
    transition: 0.3s ease-in;
    transform: scale(1.1);
  }
  
  h2 {
    font-size:32px;
    margin: 30px 0 10px 0;
    font-weight: bold;
    color: pink;
  }
  h2:hover {
    color:navy;
    transition: 0.2s linear;
  }
  ul {
    margin: 16px 0 16px 0;
  }
  
  .footer {
    margin: 50px 0 0 0 ;
    padding : 40px;
    background-color: lightgrey;
  }
  
  #container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
  }